<div [hidden]="!globalVariableService.isLogged" class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="assets/images/logos/logo-icon.png" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <h4 class="logo-text">RICHEBOIS</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a routerLink="/Acceuil">
        <div class="parent-icon"><i class='bx bx-home-circle'></i>
        </div>
        <div class="menu-title">Acceuil</div>
      </a>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bx bx-category"></i>
        </div>
        <div class="menu-title">Administration</div>
      </a>
      <ul>
        <li> <a routerLink="/Utilisateurs"><i class="bx bx-right-arrow-alt"></i>Utilisateurs</a>
        </li>
        <li> <a routerLink="/Affaires"><i class="bx bx-right-arrow-alt"></i>Affaires</a>
        </li>
        <li> <a routerLink="/Appartements"><i class="bx bx-right-arrow-alt"></i>Appartements</a>
        </li>
        <li> <a routerLink="/Employes"><i class="bx bx-right-arrow-alt"></i>Personnels</a>
        </li>
        <li> <a routerLink="/ComptesComptable"><i class="bx bx-right-arrow-alt"></i>Comptes Comptable</a>
        </li>
        <li> <a routerLink="/Villes"><i class="bx bx-right-arrow-alt"></i>Villes</a>
        </li>

        <li> <a routerLink="/Fonctions"><i class="bx bx-right-arrow-alt"></i>Fonctions</a>
        </li>
        <li> <a routerLink="/ModesOperations"><i class="bx bx-right-arrow-alt"></i>Modes Operations</a>
        </li>
        <li> <a routerLink="/NaturesOperations"><i class="bx bx-right-arrow-alt"></i>Natures Operations</a>
        </li>
        <li> <a routerLink="/NaturesAlimentation"><i class="bx bx-right-arrow-alt"></i>Natures Alimentation</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class='lni lni-wallet'></i>
        </div>
        <div class="menu-title">Caisse</div>
      </a>
      <ul>
        <li> <a href="/Caisse"><i class="bx bx-right-arrow-alt"></i>Caisses</a>
        </li>
        <li> <a href="/alimentationCaisse"><i class="bx bx-right-arrow-alt"></i>Alimentation Caisse</a>
        </li>
        <li> <a href="/suiviCaisse"><i class="bx bx-right-arrow-alt"></i>Suivi Caisses</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class='bx bx-bookmark-heart'></i>
        </div>
        <div class="menu-title">Loyé</div>
      </a>
      <ul>
        <li> <a routerLink="/PaiementLoye"><i class="bx bx-right-arrow-alt"></i>Paiement Loyé</a>
        </li>
        <li> <a routerLink="/EmployeLoye"><i class="bx bx-right-arrow-alt"></i>Employés Loyé</a>
        </li>
        <li> <a href="/PaiementElecEau"><i class="bx bx-right-arrow-alt"></i>Paiement Eau et Electricité</a>
        </li>
        <li> <a routerLink="/Appartements"><i class="bx bx-right-arrow-alt"></i>Appartements</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class="bx bx-repeat"></i>
        </div>
        <div class="menu-title">Content</div>
      </a>
      <ul>
        <li> <a href="content-grid-system.html"><i class="bx bx-right-arrow-alt"></i>Grid System</a>
        </li>
        <li> <a href="content-typography.html"><i class="bx bx-right-arrow-alt"></i>Typography</a>
        </li>
        <li> <a href="content-text-utilities.html"><i class="bx bx-right-arrow-alt"></i>Text Utilities</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"> <i class="bx bx-donate-blood"></i>
        </div>
        <div class="menu-title">Icons</div>
      </a>
      <ul>
        <li> <a href="icons-line-icons.html"><i class="bx bx-right-arrow-alt"></i>Line Icons</a>
        </li>
        <li> <a href="icons-boxicons.html"><i class="bx bx-right-arrow-alt"></i>Boxicons</a>
        </li>
        <li> <a href="icons-feather-icons.html"><i class="bx bx-right-arrow-alt"></i>Feather Icons</a>
        </li>
      </ul>
    </li>
    <li class="menu-label">Forms & Tables</li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class='bx bx-message-square-edit'></i>
        </div>
        <div class="menu-title">Forms</div>
      </a>
      <ul>
        <li> <a href="form-elements.html"><i class="bx bx-right-arrow-alt"></i>Form Elements</a>
        </li>
        <li> <a href="form-input-group.html"><i class="bx bx-right-arrow-alt"></i>Input Groups</a>
        </li>
        <li> <a href="form-layouts.html"><i class="bx bx-right-arrow-alt"></i>Forms Layouts</a>
        </li>
        <li> <a href="form-validations.html"><i class="bx bx-right-arrow-alt"></i>Form Validation</a>
        </li>
        <li> <a href="form-wizard.html"><i class="bx bx-right-arrow-alt"></i>Form Wizard</a>
        </li>
        <li> <a href="form-text-editor.html"><i class="bx bx-right-arrow-alt"></i>Text Editor</a>
        </li>
        <li> <a href="form-file-upload.html"><i class="bx bx-right-arrow-alt"></i>File Upload</a>
        </li>
        <li> <a href="form-date-time-pickes.html"><i class="bx bx-right-arrow-alt"></i>Date Pickers</a>
        </li>
        <li> <a href="form-select2.html"><i class="bx bx-right-arrow-alt"></i>Select2</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class="bx bx-grid-alt"></i>
        </div>
        <div class="menu-title">Tables</div>
      </a>
      <ul>
        <li> <a href="table-basic-table.html"><i class="bx bx-right-arrow-alt"></i>Basic Table</a>
        </li>
        <li> <a href="table-datatable.html"><i class="bx bx-right-arrow-alt"></i>Data Table</a>
        </li>
      </ul>
    </li>
    <li class="menu-label">Pages</li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class="bx bx-lock"></i>
        </div>
        <div class="menu-title">Authentication</div>
      </a>
      <ul>
        <li> <a href="authentication-signin.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign In</a>
        </li>
        <li> <a href="authentication-signup.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign Up</a>
        </li>
        <li> <a href="authentication-signin-with-header-footer.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign In with Header & Footer</a>
        </li>
        <li> <a href="authentication-signup-with-header-footer.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Sign Up with Header & Footer</a>
        </li>
        <li> <a href="authentication-forgot-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Forgot Password</a>
        </li>
        <li> <a href="authentication-reset-password.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Reset Password</a>
        </li>
        <li> <a href="authentication-lock-screen.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Lock Screen</a>
        </li>
      </ul>
    </li>
    <li>
    <li>
      <a href="timeline.html">
        <div class="parent-icon"> <i class="bx bx-video-recording"></i>
        </div>
        <div class="menu-title">Timeline</div>
      </a>
    </li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class="bx bx-error"></i>
        </div>
        <div class="menu-title">Errors</div>
      </a>
      <ul>
        <li> <a href="errors-404-error.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>404 Error</a>
        </li>
        <li> <a href="errors-500-error.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>500 Error</a>
        </li>
        <li> <a href="errors-coming-soon.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Coming Soon</a>
        </li>
        <li> <a href="error-blank-page.html" target="_blank"><i class="bx bx-right-arrow-alt"></i>Blank Page</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="faq.html">
        <div class="parent-icon"><i class="bx bx-help-circle"></i>
        </div>
        <div class="menu-title">FAQ</div>
      </a>
    </li>
    <li>
      <a href="pricing-table.html">
        <div class="parent-icon"><i class="bx bx-diamond"></i>
        </div>
        <div class="menu-title">Pricing</div>
      </a>
    </li>
    <li class="menu-label">Charts & Maps</li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class="bx bx-line-chart"></i>
        </div>
        <div class="menu-title">Charts</div>
      </a>
      <ul>
        <li> <a href="charts-apex-chart.html"><i class="bx bx-right-arrow-alt"></i>Apex</a>
        </li>
        <li> <a href="charts-chartjs.html"><i class="bx bx-right-arrow-alt"></i>Chartjs</a>
        </li>
        <li> <a href="charts-highcharts.html"><i class="bx bx-right-arrow-alt"></i>Highcharts</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class="bx bx-map-alt"></i>
        </div>
        <div class="menu-title">Maps</div>
      </a>
      <ul>
        <li> <a href="map-google-maps.html"><i class="bx bx-right-arrow-alt"></i>Google Maps</a>
        </li>
        <li> <a href="map-vector-maps.html"><i class="bx bx-right-arrow-alt"></i>Vector Maps</a>
        </li>
      </ul>
    </li>
    <li class="menu-label">Others</li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class="bx bx-menu"></i>
        </div>
        <div class="menu-title">Menu Levels</div>
      </a>
      <ul>
        <li> <a class="has-arrow" href="javascript:;"><i class="bx bx-right-arrow-alt"></i>Level One</a>
          <ul>
            <li> <a class="has-arrow" href="javascript:;"><i class="bx bx-right-arrow-alt"></i>Level Two</a>
              <ul>
                <li> <a href="javascript:;"><i class="bx bx-right-arrow-alt"></i>Level Three</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="https://codervent.com/dashtreme/documentation/index.html" target="_blank">
        <div class="parent-icon"><i class="bx bx-folder"></i>
        </div>
        <div class="menu-title">Documentation</div>
      </a>
    </li>
    <li>
      <a href="https://themeforest.net/user/codervent" target="_blank">
        <div class="parent-icon"><i class="bx bx-support"></i>
        </div>
        <div class="menu-title">Support</div>
      </a>
    </li>
  </ul>
  <!--end navigation-->
</div>
