<div [hidden]="!globalVariableService.isLogged" class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="assets/images/logos/logo-icon.png" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <h4 class="logo-text">RICHEBOIS</h4>
    </div>
    <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a routerLink="/Acceuil">
        <div class="parent-icon"><i class='bx bx-home-circle'></i>
        </div>
        <div class="menu-title">Acceuil</div>
      </a>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bx bx-category"></i>
        </div>
        <div class="menu-title">Administration</div>
      </a>
      <ul>
        <li> <a routerLink="/Utilisateurs"><i class="bx bx-right-arrow-alt"></i>Utilisateurs</a>
        </li>
        <li> <a routerLink="/Affaires"><i class="bx bx-right-arrow-alt"></i>Affaires</a>
        </li>
        <li> <a routerLink="/Appartements"><i class="bx bx-right-arrow-alt"></i>Appartements</a>
        </li>
        <li> <a routerLink="/Employes"><i class="bx bx-right-arrow-alt"></i>Personnels</a>
        </li>
        <li> <a routerLink="/ComptesComptable"><i class="bx bx-right-arrow-alt"></i>Comptes Comptable</a>
        </li>
        <li> <a routerLink="/Fonctions"><i class="bx bx-right-arrow-alt"></i>Fonctions</a>
        </li>
        <li> <a routerLink="/ModesOperations"><i class="bx bx-right-arrow-alt"></i>Modes Operations</a>
        </li>
        <li> <a routerLink="/NaturesOperations"><i class="bx bx-right-arrow-alt"></i>Natures Operations</a>
        </li>
        <li> <a routerLink="/NaturesAlimentation"><i class="bx bx-right-arrow-alt"></i>Natures Alimentation</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class='lni lni-wallet'></i>
        </div>
        <div class="menu-title">Caisse</div>
      </a>
      <ul>
        <li> <a href="/Caisse"><i class="bx bx-right-arrow-alt"></i>Caisses</a>
        </li>
        <li> <a href="/alimentationCaisse"><i class="bx bx-right-arrow-alt"></i>Alimentation Caisse</a>
        </li>
        <li> <a href="/suiviCaisse"><i class="bx bx-right-arrow-alt"></i>Suivi Caisses</a>
        </li>
      </ul>
    </li>
    <li>
      <a class="has-arrow" href="javascript:;">
        <div class="parent-icon"><i class='bx bx-bookmark-heart'></i>
        </div>
        <div class="menu-title">Loyé</div>
      </a>
      <ul>
        <li> <a routerLink="/PaiementLoye"><i class="bx bx-right-arrow-alt"></i>Paiement Loyé</a>
        </li>
        <li> <a routerLink="/EmployeLoye"><i class="bx bx-right-arrow-alt"></i>Employés Loyé</a>
        </li>
        <li> <a href="/PaiementElecEau"><i class="bx bx-right-arrow-alt"></i>Paiement Eau et Electricité</a>
        </li>
        <li> <a routerLink="/Appartements"><i class="bx bx-right-arrow-alt"></i>Appartements</a>
        </li>
      </ul>
    </li>
  </ul>
  <!--end navigation-->
</div>
