
<!--wrapper-->
<div class="wrapper">
  <!--sidebar wrapper -->
  <app-sidebar ></app-sidebar>
  <!--end sidebar wrapper -->
  <!--start header -->
  <app-navbar></app-navbar>
  <!--end header -->
<router-outlet></router-outlet>
  <!--end overlay-->
  <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
  <!--End Back To Top Button-->
  <app-footer></app-footer>
</div>
<!--end wrapper-->
<!--start switcher-->
<app-switcher></app-switcher>
<!--end switcher-->
